@font-face {
	font-family: luckiest-guy;
	src: url('./assets/fonts/LuckiestGuy-Regular.ttf');
}
@font-face {
	font-family: rammetto-one;
	src: url('./assets/fonts/RammettoOne-Regular.ttf');
}
@font-face {
	font-family: poppins-regular;
	src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
	font-family: yellowtail-regular;
	src: url('./assets/fonts/Yellowtail-Regular.ttf');
}
@font-face {
	font-family: poppins-extrabold;
	src: url('./assets/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
	font-family: poppins-bold;
	src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
	font-family: poppins-medium;
	src: url('./assets/fonts/Poppins-Medium.ttf');
}
@font-face {
	font-family: poppins-semibold;
	src: url('./assets/fonts/Poppins-SemiBold.ttf');
}
